body
{
    background-color: #000;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}


input
{
    padding: 8px 8px;
    margin: 12px 0;
    box-sizing: border-box;
    
    background-color: #000;
    color: #FFF;
    
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    
    border: 2px solid #999;
    border-radius: 6px;
}

input:focus
{
    border: 2px solid #FFF;
}


button
{
    background-color: #FFF;
    color: #000;
    
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

button:hover
{
    background-color: #DDD;
}

button:active
{
    transform: translateY(2px);
}
