body
{
    background-color: #000;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

input
{
    padding: 8px 8px;
    margin: 12px 0;
    box-sizing: border-box;
    
    background-color: #000;
    color: #FFF;
    
    border: 2px solid #888;
    border-radius: 8px;
}
